<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestPHPhotoKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CA7798921DA8F29B00DB2619</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA7798A61DA8F29C00DB2619</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA7798B11DA8F29C00DB2619</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
